<!-- <div class="header-tittle">
    Email List</div>
  <div class="container-fluid">
    <div class="row">
      <p>
        login works!
      </p>
    </div>
  </div> -->


 <div class="logindiv">
        <h3><i class="fa fa-lock" aria-hidden="true"></i> Login</h3> 
   
        <hr>
        <form class="example-form">
           <div class="from-conrol">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </div>
              <div class="from-conrol">
             <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field> 
          </div>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
   
      
        <button mat-raised-button (click)="login()" color="primary">Login</button>
        <a href="#" class="linkcolor"><u>forget password</u></a>
        <!-- <div style="float:right">
          <i class="fa fa-google"></i>
          <i class="fa fa-linkedin"></i>
        </div> -->

      </div>