<div class="gridcontainer setupWizard">

    <div class="bodymainlinks">
      <section class="bodycontainer">
        <div class="relative">
          <h1 class="sticker">Sorry, we can't find {{ host}}</h1>
        </div>
      </section>
    </div>
    <section>
      <div layout="row" layout-wrap fxLayoutAlign="center">
        <p>
          The website could have moved or you might have mistyped the URL.
        </p>
        <p>
          If you have an account with <a class="link" href="https://patasala.in/" style="margin:0">
            <u>patasala.in</u>
          </a> you can try to
          <a class="link" [routerLink]="['/home/signin']">
            <u>sign in now</u>
          </a>
        </p>     
        <p>
          Don’t have an account with us? We would love to help you out!
          <a class="link" [routerLink]="['/home/signup']"><u>Sign up now</u></a>
        </p>
        
      </div>
    </section>
  </div>
  