
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "assets/bootstrap.min.css";
body,h1,h2,h3,p,ul{	padding:0px; margin:0px; }
body{ font-family:Verdana,  sans-serif; font-size:14px;color:#000; }
a{ text-decoration:none; color:#000;}
a:hover{text-decoration:none;}
* { box-sizing: border-box;}
.logo{float:left;}
.logo a{   display:block;}
#socialimg {width:100%;border-radius: 60%;}
.container { max-width:98%; margin:0px auto;}
.btn-primary {background-color: #1979ab; border-color: #1979ab;   }
header{float: left;width:100%; position: fixed; top:0px; border-bottom: 1px solid #0070c0; background: #1979ab;z-index: 5} 
.networkicon{ width:23px; height: 30px; background: url(assets/images/network-icon.png) no-repeat; }
.leadicon{ width:23px; height: 30px; background: url(assets/images/network-icon.png) no-repeat; }
.meetingicon{ width:23px; height: 30px; background: url(assets/images/network-icon.png) no-repeat; }
.meetingicon{ width:23px; height: 30px; background: url(assets/images/network-icon.png) no-repeat; }
.top-menu{ float:right; font-size: 14px;color:#fff;}
.top-menu li{ display:inline-block; position: relative; cursor: pointer; vertical-align: top;} 
.menuicon{text-align: center;}
.profileimg {
	width: 55px;
	height: 55px;
  padding: 5px;
	background: #fff;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  border:1px solid #33ad25;  display: inline-block;   vertical-align: top;
}
#SignInMenu{margin-top: 10px;}
.top-menu li a {  color: #fff; display: inline-block; height: 71px;  padding:20px 10px;}
.top-menu li a:hover{  
background: #1979ab; /* Old browsers */
background: -moz-linear-gradient(top, #1979ab 0%, #125273 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #1979ab 0%,#125273 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #1979ab 0%,#125273 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1979ab', endColorstr='#125273',GradientType=0 ); /* IE6-9 */}
.collapse_menu{ position: fixed; top:0px; left: 230px; width: 18px; float: left;   margin-top: 25px; cursor: pointer;z-index: 9}
.menuline { background:#fff; display: block; height: 2px; margin-bottom: 3px;}
.sidebar.selected {  display: none;}
.drop-menu{ display: none; background: #fff; position: absolute;   top:27px;border:1px solid #1979ab; box-shadow: 0 8px 6px -6px #888;}
.drop-menu li { border-bottom:1px solid #1979ab; line-height: 25px; display: block;  }
.drop-menu.dropMenu {display: block;}
.text-center {text-align: center;}
.maindiv{ margin-left: 230px;   background:#fff; min-height: calc(100vh - 88px); color: black;   margin-top:82px;  }
.panel-content{ padding-left:10px;}
.maindiv::before{ clear:both; content: '';}
.otherlinks a,.meta-heading{color:#1979ab !important;}
.openDropdown ul { display: block;}
 .header-tittle{ background:#222d32; color:#fff; line-height:40px; font-size: 22px; margin-bottom: 20px ; 
	padding-top: 4px;
	padding-left:10px; }
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1979ab ;
}
.fa-sync-alt:before{content: "\f391";font: normal normal normal 14px/1 FontAwesome;}
.padding-null{ padding: 0px;}
.left-section .form-label-group{ border-bottom:1px solid #c1bdbd; padding-bottom: 5px;}
.left-section .form-label-group label{color:#1979ab;}
.list-detail-actions .fa {font-size: 28px; color:#1979ab; margin: 0px 5px;}
.table{border:1px solid #ededed;}
.table tr:nth-child(odd){ background:#fafafa; border:1px solid #ededed; }
.table tr td {min-height: 30px;}
.form-label-group{margin-bottom: 10px;}

.boundhound-snackbar {
	color: white !important;
	background: #bdadf1 !important;
	}
	
  .boundhound-snackbar .mat-simple-snackbar {
  color:white !important;
  }  
  