<!-- [ngClass]="{'highlight': selectedRowIndex == row.id}" -->
<!-- 
<form (ngSubmit)="onSubmit(emailForm.value)" [formGroup]="emailForm" novalidate>
  <div class="formcontainer" layout="row" layout-wrap>
    <section>
      <div layout="row" layout-wrap>
        <h1 class="sticker">Add fee types</h1>
      </div>
    </section>
    <section>
      <div layout="row" layout-wrap class="rowgap" fxLayout.xs="column">
        <div class="field" fxFlex="100%">
          <mat-form-field class="fullFieldWidth">
            <input matInput formControlName="firstname" placeholder="First name" required>
            <mat-error *ngIf="emailForm.get('firstname').touched && emailForm.get('firstname').invalid">
              First name is required
            </mat-error>

          </mat-form-field>
        </div>
      </div>
    </section>

    <section>
      <div class="mat-error">
        <mat-error>{{ formError }}</mat-error>
      </div>

      <div class="container" fxLayout>
        <div>
          <button type="submit" class="primarybutton" color="primary">Save</button>
        </div>
        <div>
          <a *ngIf="isExistingFeeType" class="primarylink" [routerLink]="['../../fee-types']"> Cancel </a>
          <a *ngIf="!isExistingFeeType" class="primarylink" [routerLink]="['../fee-types']"> Cancel </a>
        </div>
      </div>
    </section>
  </div>
</form>

<hr> -->

<div [ngClass]="{'col-xs-12': showDetail, 'hide': !showDetail}" class="list-detail-box" style="min-height: 694px;">
  <div ng-show="showLeadLoader" class="delete-lead-distractor"></div>
  <div class="list-detail-header">
    <a ng-click="closeDetail()" data-animation="flipOutX"  >
      <i class="glyph-icon icon-times"></i>
    </a>
  </div>
  <div class="panel-layout">
    <div class="panel-box">
      <div class="panel-content">
        <div class="meta-box meta-box-offset">
          <h3   class="meta-heading font-size-16" style="margin-bottom:10px;">
           <span style="vertical-align: middle;"> {{emails.firstname}} {{emails.lastname}}  </span><div class="profileimg">
              <img id="socialimg" class="socialimg"  
              onerror="this.onerror=null;this.src='./../assets/images/noimage.png';"
              src="{{emails.photourl}}">
            </div>
          </h3>
          
       
          <div [hidden]="!editCurrentShow" class="list-detail-actions" style="text-align:center">
            <!-- Linkedin profile view-->
            <a [hidden]="!linkedin_url" style="width: auto" target="_blank" href="{{emails.Url}}"
              title="Profile" data-original-title="View Linkedin profile" placement="bottom" >              
           <i class="fa fa-linkedin"></i>              
            </a>
            <!-- Send email-->
            <a [hidden]="!EmailPresent"   href="mailto:{{emails.email}}" title="Send email" 
              data-original-title="Send email" placement="bottom" >             
          <i class="fa fa-envelope"></i>            
            
            </a>
            <!-- Delete lead-->
            <a (click)="DeleteLead($event)"  class="pointer"  title="Delete" data-original-title="Delete lead" placement="bottom">
              <i class="fa fa-trash"></i>
            </a>
            <!-- Edit lead-->
            <a (click)="EditClick($event)" class="pointer" title="Edit" data-original-title="Edit lead information" placement="bottom">              
           <i class="fa fa-edit"></i>               
            </a>
          <a *ngIf="EmailPresent == false" class="pointer" (click)="findCEmailClick($event)" style="cursor:pointer;" data-original-title="" title="Find Email">
            <span>
              <i class="fa fa-envelope"></i> Find Email
            </span>
          </a>

            <!-- Messages-->
            <p><span [hidden]="findCEmailSearching" class="ng-hide">Searching ...</span></p>
            <p [hidden]="!SearchEmailFound" class="current-message ng-hide">Email not found</p>
          </div>
        </div>

        <!-- Current edit form-->
        <div [hidden]="editCurrentShow" class="edit-current-form mrg0B mrg10T ng-hide ">
          <form id="demo-form" data-parsley-validate="" novalidate="" class="left-section container-fluid bordered-row ng-pristine ng-valid ng-valid-required">
            
              <div class="form-label-group row">
                <label class="control-label col-sm-5">First name</label>
                <div class="control-label col-sm-7">
                  <input type="text" name="firstName" required [(ngModel)]="emails.firstname" class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched">
                  <div ng-show="editCurrent.error.fname" class="parsley-errors-list filled ng-hide">
                    <div [hidden]="emails.firstname" class="parsley-required">First name fied is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-label-group row">
                <label class="control-label col-sm-5">Last name</label>
                <div class="control-label col-sm-7">
                  <input type="text" name="lastname" required="" [(ngModel)]="emails.lastname" class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required">
                  <div ng-show="editCurrent.error.lname" class="parsley-errors-list filled ng-hide">
                    <div [hidden]="emails.lastname" class="parsley-required">Last name fied is required.</div>
                  </div>
                </div>
              </div>
              <div class="form-label-group row">
                <label class="control-label col-sm-5">Email</label>
                <div class="control-label col-sm-7">
                  
                  <!-- <input type="text" name="email" [(ngModel)]="emails.email" 
                  [email]="true"
                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"> -->
                  <input type="email" class="mail" email name="emailField"  
                  [(ngModel)]="emails.email" #emailField="ngModel"
                  class="form-control ng-pristine ng-untouched ng-valid ng-empty"
                  >
                  <div class="emailinvalid" *ngIf="emailField.invalid && emailField.touched">
                    <span *ngIf="emailField.hasError('email')">
                      Please enter the correct email, this email not valid.
                    </span>
                    </div>

                  <div [hidden]="IsValidEmail" class="parsley-required">This is not a valid email.</div>
                </div>
              </div>
              <div class="form-label-group row">
                <label class="control-label col-sm-5">Title</label>
                <div class="control-label col-sm-7">
                  <input type="text" name="title" [(ngModel)]="emails.title" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                </div>
              </div>
              <div class="form-label-group row">
                <label class="control-label col-sm-5">Company</label>
                <div class="control-label col-sm-7">
                  <input type="text" name="company" [(ngModel)]="emails.company" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                </div>
              </div>
              <div class="form-label-group row">
                <label class="control-label col-sm-5">Location</label>
                <div class="control-label col-sm-7">
                  <input type="text" name="location" [(ngModel)]="emails.location" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                </div>
              </div>
          
          </form>
        </div>
        <br>
        <!-- Current info-->
        <div [hidden]="!editCurrentShow" class="mrg0B left-section container-fluid">
          <!-- <div class="form-label-group row">           
              <label class="control-label col-sm-12" style="color: #464646">Lead</label>
          </div> -->
          <div class="form-label-group row">
            <label class="control-label col-sm-5">First name</label>
            <div class="control-label col-sm-7">{{emails.firstname}}</div>
          </div>
          <div class="form-label-group row">
            <label class="control-label col-sm-5">Last name</label>
            <div class="control-label col-sm-7">{{emails.lastname}} </div>
          </div>

          <div class="form-label-group row">
            <label class="control-label col-sm-5">Email</label>
            <div class="control-label col-sm-7">{{emails.email}} </div>
          </div>

          <div class="form-label-group row" [hidden]="!emails.title"  >
            <label class="control-label col-sm-5">Title</label>
            <div class="control-label col-sm-7">
                <span class="overflow ellipsis" matTooltip="{{emails.title}}">{{emails.title}}</span>
            </div>
          </div>
          <div class="form-label-group row" [hidden]="!emails.location" >
            <label class="control-label col-sm-5">Location</label>
            <div class=" control-label col-sm-7">{{emails.location}}</div>
          </div>

          <div class="form-label-group row" [hidden]="!emails.company" >
            <label class="control-label col-sm-5">Company</label>
            <div class=" control-label col-sm-7">{{emails.company}}</div>
          </div>

          <div class="form-label-group row">
            <label class="control-label col-sm-5">Company Name</label>
            <div class="control-label col-sm-7">IADEPT MARKETING</div>
          </div>
          <div class="form-label-group row" [hidden]="!emails.website">
            <label  class="control-label col-sm-12">Website</label>
              <div class="control-label col-sm-12">
              <p *ngIf="emails.website !==''" class="">
                <a href="{{emails.website}}" target="_blank" style="color: #03A9F4" class="ng-binding">{{emails.website}}</a>
              </p>
              <p *ngIf="emails.website ==''" class="font-black ng-hide">Not available</p>
            </div>
          </div>

          <!-- <div class="form-label-group row">
            <label class="control-label col-sm-5">Industry </label>
            <div class="font-black ng-binding control-label col-sm-7">Not available</div>
          </div>

          <div class="form-label-group row">
            <label class="control-label col-sm-5">Size </label>
            <div class="font-black ng-binding control-label col-sm-7">Not available</div>
          </div>

          <div class="form-label-group row">
            <label class="control-label col-sm-5">Founded </label>
            <div class="font-black ng-binding control-label col-sm-7">Not available</div>
          </div> -->

          <div class="form-label-group row">
            <label class="control-label col-sm-5">Headquarters</label>
            <div class="font-black ng-binding control-label col-sm-7">Not available</div>
          </div>
          <div  ng-show="current.li_cp_id &amp;&amp; current.li_cp_id !== &quot;&quot;" class="form-label-group row ng-hide">
            <label class="control-label col-sm-5">Linkedin page </label>
            <div class="control-label col-sm-7">
              <!-- <a href="https://www.linkedin.com/company-beta/" target="_blank" style="color: #03A9F4" class="ng-binding">Linkedin - {{emails.firstname}} {{emails.lastname}}</a> -->
              <a href="{{emails.Url}}" target="_blank" style="color: #03A9F4" class="ng-binding">Linkedin - {{emails.firstname}} {{emails.lastname}}</a>

            </div>

          </div>

        </div>
      </div>
      <!-- Current Edit actions-->
      <br clear="all">
      <div [hidden]="editCurrentShow" class="list-detail-actions">
        <!-- Cancel-->
        <a (click)="EditClick($event)">
          <button class="btn btn-danger">Cancel</button>
        </a>
        <!-- Save-->
        <a (click)="SaveEmailDetail($event,emails)">
        
          <button class="btn btn-primary">Save </button>
        
        </a>

       
      </div>
    </div>
  </div>

 
 