label.control-label{padding-top: 7px; word-wrap: break-word; }
.icon-separator { cursor: pointer; border: 1px solid #555;  margin-left:5px; border-radius: 5px; padding: 5px;text-align: center;
width: 30px;display: inline-block;}
.list-detail-box .list-detail-actions > .btn {
    width: 100%;
    margin: 0px 0px;
    font-size: 13px;
}
.form-group{ margin: 0px;}
.parsley-required{ color: red; font-size: 10px}
.pointer{ cursor: pointer;}
