 
<div ng-class="{&quot;col-xs-4&quot;: showDetail, &quot;hide&quot;: !showDetail}" class="list-detail-box col-xs-4" style="min-height: 694px;">
  <div ng-show="showLeadLoader" class="delete-lead-distractor ng-hide"></div>
  <div class="list-detail-header">
    <a ng-click="closeDetail()" data-animation="flipOutX" class="icon-separator remove-button">
      <i class="glyph-icon icon-times"></i>
    </a>
  </div>
  <div class="panel-layout">
    <div class="panel-box">
      <div class="panel-content pad0A bg-white">
        <div class="meta-box meta-box-offset">
          <h3 style="margin: 15px 0 10px 0;" class="meta-heading font-size-16 ng-binding"> Anuj joshi
            <!-- Current actions    -->
          </h3>
          <div ng-show="!editCurrent.show" class="list-detail-actions">
            <!-- Linkedin profile view-->
            <a ng-show="current.linkedin_url &amp;&amp; current.linkedin_url !== &quot;&quot;" style="width: auto" target="_blank"
              href="https://www.linkedin.com/" title="" data-original-title="View Linkedin profile" placement="bottom" class="tooltip-button btn bg-linkedin btn-current-lead ng-hide">
              <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-linkedin"></i>
              </span>
              <div class="ripple-wrapper"></div>
            </a>
            <!-- Send email-->
            <a ng-show="current.email &amp;&amp; current.email !== &quot;&quot;" style="width: auto" href="mailto:" title=""
              data-original-title="Send email" placement="bottom" class="tooltip-button btn btn-azure btn-current-lead ng-hide">
              <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-envelope"></i>
              </span>
              <div class="ripple-wrapper"></div>
            </a>
            <!-- Delete lead-->
            <a ng-click="deleteLead()" style="width: auto" title="" data-original-title="Delete lead" placement="bottom"
              class="tooltip-button btn btn-border border-gray-dark font-gray-dark btn-current-lead">
              <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-elusive-trash"></i>
              </span>
              <div class="ripple-wrapper"></div>
            </a>
            <!-- Edit lead-->
            <a ng-click="editCurrent.click()" style="width: auto" title="" data-original-title="Edit lead information" placement="bottom"
              class="tooltip-button btn btn-border border-gray-dark font-gray-dark btn-current-lead">
              <span class="glyph-icon icon-separator">
                <i class="glyph-icon icon-elusive-edit"></i>
              </span>
              <div class="ripple-wrapper"></div>
            </a>
            <a ng-disabled="findCEmail.searching" ng-show="!current.email || current.email == &quot;&quot;" style="width: 118px; line-height: 31px; position: relative; top: -20px;"
              ng-click="findCEmail.click()" class="tooltip-button btn btn-azure btn-border btn-current-lead" data-original-title=""
              title="">
              <div ng-show="!findCEmail.searching" class="">
                <i style="position: relative; right: 6px" class="glyph-icon icon-envelope"></i>Find email</div>
              <div ng-show="findCEmail.searching" class="ng-hide">Searching ...</div>
            </a>
            <!-- Messages-->
            <p ng-show="findCEmail.nfound" class="current-message ng-hide">Email not found</p>
          </div>
        </div>
        <!-- Current edit form-->
        <div ng-show="editCurrent.show" class="edit-current-form mrg0B mrg10T ng-hide">
          <form id="demo-form" data-parsley-validate="" novalidate="" class="form-horizontal bordered-row ng-pristine ng-valid ng-valid-required">
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label">First name</label>
                <div class="col-sm-9">
                  <input type="text" name="firstName"  required="" ng-model="editCurrent.obj.firstName" class="form-control ng-pristine ng-not-empty ng-valid ng-valid-required ng-touched">
                  <ul ng-show="editCurrent.error.fname" class="parsley-errors-list filled ng-hide">
                    <li class="parsley-required">First name fied is required.</li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Last name</label>
                <div class="col-sm-9">
                  <input type="text" required="" ng-model="editCurrent.obj.lastName" class="form-control ng-pristine ng-untouched ng-not-empty ng-valid ng-valid-required">
                  <ul ng-show="editCurrent.error.lname" class="parsley-errors-list filled ng-hide">
                    <li class="parsley-required">Last name fied is required.</li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <div class="col-sm-9">
                  <input type="text" ng-model="editCurrent.obj.email" class="form-control ng-pristine ng-untouched ng-valid ng-empty">
                  <ul ng-show="editCurrent.error.email" class="parsley-errors-list filled ng-hide">
                    <li class="parsley-required">This is not a valid email.</li>
                  </ul>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Title</label>
                <div class="col-sm-9">
                  <input type="text" ng-model="editCurrent.obj.title" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Company</label>
                <div class="col-sm-9">
                  <input type="text" ng-model="editCurrent.obj.company" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Location</label>
                <div class="col-sm-9">
                  <input type="text" ng-model="editCurrent.obj.location" class="form-control ng-pristine ng-untouched ng-valid ng-not-empty">
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- Current info-->
        <table ng-show="!editCurrent.show" class="table mrg0B">
          <tbody>
            <tr>
              <td style="border-top: none; margin-top: 20px" class="text-left">
                <b style="color: #464646"> Lead</b>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>First name</b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding"> Anuj</p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>Last name</b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding"> joshi </p>
              </td>
            </tr>
            <tr ng-show="current.email &amp;&amp; current.email !== &quot;&quot;" ng-style="{'background':findCEmail.found ? '#bcfbd7' : 'white'}"
              class="ng-hide" style="background: white;">
              <td class="text-left">
                <b>Email</b>
              </td>
              <td class="text-right">
                <b class="font-black ng-binding"> </b>
              </td>
            </tr>
            <tr ng-show="current.title &amp;&amp; current.title !== &quot;&quot;" class="">
              <td class="text-left">
                <b>Title</b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding">Senior Software Engineer Team Lead</p>
              </td>
            </tr>
            <tr ng-show="current.location &amp;&amp; current.location !== &quot;&quot;" class="">
              <td class="text-left">
                <b>Location</b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding"> New Delhi Area, India</p>
              </td>
            </tr>
            <tr>
              <td style="border-top: none; margin-top: 20px" class="text-left">
                <b style="color: #464646"> Company </b>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>Name</b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding"> iAdept Marketing</p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>Website</b>
              </td>
              <td class="text-right">
                <p ng-show="current.domain &amp;&amp; current.domain !== &quot;&quot;" class="">
                  <a href="http://www.iadeptreliability.com" target="_blank" style="color: #03A9F4" class="ng-binding">www.iadeptreliability.com</a>
                </p>
                <p ng-show="!current.domain || current.domain == &quot;&quot;" class="font-black ng-hide">Not available</p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>Industry </b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding"> Not available</p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>Size </b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding"> Not available</p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>Founded </b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding"> Not available</p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <b>Headquarters</b>
              </td>
              <td class="text-right">
                <p class="font-black ng-binding">Not available</p>
              </td>
            </tr>
            <tr ng-show="current.li_cp_id &amp;&amp; current.li_cp_id !== &quot;&quot;" class="ng-hide">
              <td class="text-left">
                <b>Linkedin page </b>
              </td>
              <td class="text-right">
                <p>
                  <a href="https://www.linkedin.com/company-beta/" target="_blank" style="color: #03A9F4" class="ng-binding">Linkedin - iAdept Marketing</a>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Current Edit actions-->
      <div ng-show="editCurrent.show" class="list-detail-actions ng-hide">
        <!-- Cancel-->
        <a ng-click="editCurrent.cancel()" style="margin: 15px 0; width: 49%">
          <span class="glyph-icon icon-separator">
            <i class="glyph-icon icon-times"></i>
          </span>
          <span style="margin-left: 6px" class="button-content">Cancel</span>
        </a>
        <!-- Save-->
        <a ng-click="editCurrent.save()" style="width: 49%; margin: 15px 0; margin-left: 2%">
          <span class="glyph-icon icon-separator">
            <i class="glyph-icon icon-check"></i>
          </span>
          <span class="button-content">Save </span>
        </a>
      </div>
    </div>
  </div>
</div>