<!--  


<div class="col-xs-12 logindiv">
  <div class="borderdiv">
  <h3>SIGN IN TO</h3>
  <hr>
  <img  src="./../../assets/images/bh-logo-1.png" alt="logo" >
  </div>
  <div class="social-login">
    
    <button (click)="signInWithLinkedIN()" class="social-login-btn linkdein-btn"><i class="fa fa-linkedin"></i> Sign in with Linkedin</button>
    <button (click)="signInWithFB()" class="social-login-btn facebook-btn"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
    <button (click)="signInWithGoogle()" class="social-login-btn google-btn"><i class="fa fa-google"></i> Sign in with Google</button>
  
  </div>
</div>
  -->
  <div class="text-center" style="padding-top:50px;">

      <h1>Welcome to
        <span class="font-normal italic-font">Bound Hound</span>
      </h1>
      <h3 class="font-normal">Think New Customers</h3>
      <br/>
      <br/>
      <div class="container">
      <div class="row">
      <div class="col-sm-6">
      <div class="text-center login-data">
        <!-- Google account -->
       <div> <i class="fa fa-google"></i></div>
        <h4>Connect your Google Account</h4>
          <div class="text-center">    So you can start automating email, connect your Google account &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br/> By connecting you accept the user agreement
            <br/>
           
          <button class="btn-connect" (click)="signInWithGoogle()">CONNECT</button>
          </div>
      </div>
      </div>
     <div class="col-sm-6 ">
    <div class="text-center login-data">
        <div><i class="fa fa-linkedin"></i></div>
       <h4>Connect your LinkedIn Account</h4>
           
           So you can start automating connections, connect your LinkedIn account
          <br/> By connecting you accept the user agreement
          <br/>
       
        <button class="btn-connect" (click)="signInWithLinkedIN()">CONNECT</button>
         </div>
     
     </div>
      </div>
      </div>
      <!-- Facebook account -->
      <!-- <i class="fa fa-facebook"></i>
      <span class="login-data">
        <p>
          <strong>Connect your Facebook Account</strong>
          <br/> So you can start automating connections, connect your facebook account
          <br/> By connecting you accept the user agreement
          <br/>
        </p>
        <button class="btn-connect" (click)="signInWithFB()">CONNECT</button>
      </span> -->
    </div>