.logindiv{ width: 400px; margin: 50px auto; text-align:center; background: #fff; color: #000; }
.logindiv:before {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   height: 0;
}
 hr,h3{ margin: 0px;}
 hr{margin: 5px 0px;}
.social-login-btn{ line-height: 75px; margin-bottom: 15px; padding: 2px; font-size: 22px; display: block; width: 100%;}
.borderdiv{ border:1px solid #a5a5a5; margin-bottom: 15px;padding-bottom: 5px;}
 button{ cursor: pointer;}
.linkdein-btn{background:#0c6290;}
.facebook-btn{background:#3d5a96;}
.social-login-btn .fa{ background: #fff;float: left; width: 80px; font-size: 37px; text-align:center; height: 75px; line-height: 80px; float: left;} 
.google-btn{background: #4688f1}
.fa-linkedin{color: #0c6290}
.fa-facebook{color: #3d5a96}
.fa-google{color: #4688f1}

.hidden{background: red;}
.text-center{ text-align: center;}
.font-normal{font-weight: normal;}
.italic-font{font-style: italic;}
.btn-connect{ background:#1979ab; color:#fff; margin-top:15px; padding: 10px 30px; border:none; font-size: 15px; text-align: center; }
.fa{ font-size: 25px; vertical-align: top;margin-right:15px;}
.login-data{ display: inline-block; color:#8b8b8b;   border:4px solid #1979ab; padding:20px;    }
.login-data .fa{ font-size: 65px !important; }
.login-data h4{ margin: 20px 0px; }
.login-data p{  text-align: center; line-height: 25px;  }
h1{ color:#1979ab;}
h3{color:#707070;}



 

  

 