<header>
  <div class="container">
    <div class="logo">
      <a>
        <img [attr.src]="logoUrl" alt="logo">        
      </a>
    </div>
    <div class="collapse_menu" (click)="onClick();">
      <span class="menuline"></span>
      <span class="menuline"></span>
      <span class="menuline"></span>    
    </div>
    
    <div class="top-menu" >
      
      <ul>
        <li>
          <a>
            <div  class="menuicon" style="font-size:19px; "><i  class="fa fa-search"></i> </div>
           Search
       
          </a>  
        </li>
                                     
        <li ><a [routerLink]="['/signin']" (click)="showMenu();" class="current"> 
        <div class="menuicon"><img  alt="icon" src="./../assets/images/network-icon.png"></div>
        Network Building  </a></li>
        <li ><a [routerLink]="['/signin']" (click)="showMenu();" class="current">  <div  class="menuicon"><img  alt="icon" src="./../assets/images/gen-icon.png"></div> Lead Generation </a></li>
        <li ><a [routerLink]="['/signin']" (click)="showMenu();" class="current">  <div  class="menuicon"><img  alt="icon" src="./../assets/images/meeting-icon.png"> </div> Meeting Setting </a></li>
        <li ><a [routerLink]="['/signin']" (click)="showMenu();" class="current">  <div  class="menuicon"><img  alt="icon" src="./../assets/images/consulting-icon.png"> </div> Consulting </a></li>
        <li style=" position: relative;">
          <div id="SignInMenu" *ngIf="!getUserLoggedIn()">
            <a [routerLink]="['/signin']" style="padding-top:38px;">Sign in</a>
          </div>
          <div id="UserMenu" *ngIf="getUserLoggedIn()">
            <ul class="drop-menu" [class.dropMenu]="wasClicked">
              <li><a [routerLink]="['/myinfo']" (click)="signOut();" class="current"> My Info </a></li>
              <li>
                <a [routerLink]="['/signin']" (click)="signOut();" class="current"> Sign out </a>
              </li>
              <li>{{AccessToken}}</li>
            </ul>
          </div>
          <div id="SignInMenu" *ngIf="getUserLoggedIn()" (click)="showMenu();">
            <span *ngIf="getUserLoggedIn()" style="vertical-align:middle; margin-top:5px; display: inline-block;">
              <br>{{LoggedInUser}}
            </span>
            <div class="profileimg">
              <img id="socialimg" class="socialimg" src='{{ UserPhotoUrl }}'>
            </div>
          </div>
        
        
        </li>
          
      </ul>
    </div>
  </div>
</header>

 