.maindiv{ margin-left: 230px;   background:#fff; min-height: calc(100vh - 76px); color: #fff; padding:10px; margin-top:56px; }
.maindiv::before{ clear:both; content: '';}
.serachdiv-icon {position: relative;margin-right: 10px;}
.serachdiv-icon .fa {position: absolute;top: 32px; right: 10px;}
.drop-menu { right: 0px; width:100%; background:#1979ab; top:70px;}
.drop-menu li { padding: 0px 10px; }
.drop-menu li a{  height: inherit; padding: 0px;  display: block;}