<!-- <form [formGroup]="myForm">
  Name : <input type="text" formControlName="name"><br>
  AGe : <input type="number" formControlName="age">

  <button>Save</button>
</form> -->

<!-- <div class="breadcrumb">
  <a [routerLink]="['/dashboard']">Home</a>
  <a [routerLink]="['../add-fee-types']" class="current">Fee types </a>
</div> -->
<div class="gridcontainer">
  <form (ngSubmit)="onSubmit(registerInfoForm.value)" [formGroup]="registerInfoForm" novalidate>
    <div class="formcontainer" layout="row" layout-wrap>

        <div layout="row" layout-wrap style="width:100%;height:35px;border:1px solid blue;">
          <h1 class="sticker">Registration Form</h1>
        </div>

      <br>
      <section>
        <div layout="row" layout-wrap class="rowgap" fxLayout.xs="column">
          <div class="field">
            <mat-form-field class="fullFieldWidth">
              <input matInput formControlName="UserName" placeholder="UserName" required>
              <mat-error *ngIf="registerInfoForm.get('UserName').touched && registerInfoForm.get('UserName').invalid">
                User name is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>     
      
      <section>
          <div layout="row" layout-wrap class="rowgap" fxLayout.xs="column">
            <div class="field">
              <mat-form-field>
                <mat-select placeholder="User Type" [formControl]="registerInfoForm.get('UserType')" required>
                  <mat-option *ngFor="let UserType of UserTypeList" [value]="UserType.label"> {{ UserType.value }} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </section>


      <section>
        <div layout="row" layout-wrap class="rowgap" fxLayout.xs="column">
          <div class="field">
            <mat-form-field class="fullFieldWidth">
              <input matInput formControlName="Company" placeholder="Company" required>
              <mat-error *ngIf="registerInfoForm.get('Company').touched && registerInfoForm.get('Company').invalid">
                Company is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>    
      <section>
        <div layout="row" layout-wrap class="rowgap" fxLayout.xs="column">
          <div class="field">
            <mat-form-field class="fullFieldWidth">
              <input matInput formControlName="Email" placeholder="Email" required>
              <mat-error *ngIf="registerInfoForm.get('Email').touched && registerInfoForm.get('Email').invalid">
                Email is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>
      <section>
        <div layout="row" layout-wrap class="rowgap" fxLayout.xs="column">
          <div class="field">
            <mat-form-field class="fullFieldWidth">
              <input matInput formControlName="Password" placeholder="Password" required>
              <mat-error *ngIf="registerInfoForm.get('Password').touched && registerInfoForm.get('Password').invalid">
                Password is required
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </section>      
      <section>
        <div class="mat-error">
          <mat-error>{{ formError }}</mat-error>
        </div>

        <div class="container" fxLayout>
          <div>
            <button type="submit" class="primarybutton" color="primary">Save</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a *ngIf="isExistingFeeType" class="primarylink" [routerLink]="['/home']"> Cancel </a>
            <a *ngIf="!isExistingFeeType" class="primarylink" [routerLink]="['/home']"> Cancel </a>
          </div>
        </div>
      </section>
    </div>
  </form>
</div>

