.sidebar{ width:230px; position: fixed;  top:82px; background:#222d32; color:#fff;  padding:20px 0px;  min-height: calc(100vh - 56px);   }
.sidebar .fa{ font-size: 18px; cursor: pointer; }
.sidebar ul ul{ margin: 10px 0px 20px 0px;}
.sidebar ul li{ list-style: none;  border-bottom:1px solid #474f52;   line-height: 40px;  }
.sidebar ul li a{ color:#fff; cursor: pointer;}
.active a{font-weight: bold; }
.sidebar ul li .menuli{ padding:0px 10px; }
.sidebar ul li .menuli:hover,.sidebar ul li .menuli.activemenu{ background:#404b50;  }
.activemenu ul li{ background:inherit !important;}
.hidden{background: red;}
.fa-chart-line:before {content: "\f201";}
:host ::ng-deep .showMenu .sidebar ul ul{ display: none;}
.subMenu{ display: none; font-weight: normal;}
.subMenu li{  line-height: 25px;}
.subMenu.showDropDown{ display: block; font-weight: normal;}

 