 
<div class="sidebar" [class.selected]="wasClicked">  
  <ul>
    <li class="mainmenu" (click)="showDropdownLists()"   >
      <div class="menuli"   [class.activemenu]="appDropdownLists"> <i class="fa fa-envelope"></i> <a  [routerLink]="['/email']">Email Lists</a></div> 

      <!-- style="display:none;" -->
  <ul class="subMenu" [class.showDropDown]="appDropdownLists"  >
      <li>
         <div class="menuli"><a [routerLink]="['/email/create']">Create List </a></div>
      </li>
      <li>
        <div class="menuli"><a [routerLink]="['/index.html/popup']">View List</a></div>
      </li>
      <li>
        <div class="menuli"><a [routerLink]="['/email/import']">Import List</a></div>
      </li>
      <li>
       <div class="menuli"> <a [routerLink]="['/email/export']">Export List </a></div>
      </li>
    </ul>


  </li>

    <li class="mainmenu"   (click)="showDropdownCampaigns()">
     <div class="menuli"   [class.activemenu]="appDropdownCampaigns">  <i class="fa fa-bullhorn"></i>
      <a [routerLink]="['/campaigns']">Email Campaigns </a>
        </div> 

      <ul class="subMenu" [class.showDropDown]="appDropdownCampaigns">
          <li>
            <div class="menuli"><a [routerLink]="['/campaigns']">Campaigns </a></div>
          </li>
          <li>
            <div class="menuli"><a [routerLink]="['/campaigns/leadfinder']">Lead Manager </a></div>
          </li>
          <li>
            <div class="menuli"><a [routerLink]="['/email/sendingcalendar']">Sending Calendar</a></div>
          </li>
        </ul>

  </li>



    <li class="mainmenu"  (click)="showDropdownAnalytics()"  >
     <div class="menuli"   [class.activemenu]="appDropdownAnalytics"> <i class="fa fa-chart-line"></i> <a href="#" [routerLink]="['/email/profiledashboard']">Analytics</a> </div>
      
      <ul class="subMenu" [class.showDropDown]="appDropdownAnalytics" >
          <li>
           <div class="menuli"><a [routerLink]="['/email/profileviewing']">Profile Viewing</a></div>
          </li>
          <li>
           <div class="menuli"><a [routerLink]="['/email/connections']">Connections</a></div>
          </li>
          <li>
            <div class="menuli"><a [routerLink]="['/email/messaging']">Messaging</a></div>
          </li>
        </ul>
    
   
  </li>


    <li class="mainmenu"   (click)="showDropdownConversations()" >
     <div class="menuli" [class.showDropDown]="appDropdownConversations">  <i class="fa fa-comment"></i> <a href="#"  [routerLink]="['/email/conversationdashboard']">Conversations</a> </div>  
      
      <ul class="subMenu" [class.showDropDown]="appDropdownConversations">
          <li>
            <div class="menuli"><a href="#" [routerLink]="['/email/inbox']">Inbox</a></div>
          </li>
          <li>
            <div class="menuli"><a href="#" [routerLink]="['/email/leadfinder']">Lead Finder</a></div>
          </li>
        </ul>

  </li>




    <li class="mainmenu" appDropdown  >
     <div class="menuli">  <i class="fa fa-envelope"></i> <a href="#" target="_blank" [routerLink]="['/email']">CRM</a></div>
    </li>

    <li class="mainmenu" appDropdown >
     <div class="menuli">  <i class="fa  fa-universal-access"></i> <a href="#" [routerLink]="['/email/community']">Community</a> </div>
    </li>
    <li class="mainmenu" appDropdown >
      <div class="menuli"> <i class="fa fa-users"></i> <a href="#" [routerLink]="['/email/Teams']">Teams</a></div>
    </li>

    <li class="mainmenu" appDropdown >
      <div class="menuli"> <i class="fa fa-creative-commons"></i> <a href="#" [routerLink]="['/email/billing']">Billing</a></div>
    </li>

<li class="mainmenu" appDropdown >
      <div class="menuli"> <i class="fa fa-comments"></i> <a href="#" [routerLink]="['/email/chat']">Chat</a></div>
    </li>

<li class="mainmenu" appDropdown >
     <div class="menuli">  <i class="fa fa-bell"></i> <a href="#" [routerLink]="['/email/notifications']">Notifications</a></div>
    </li>
    <li class="mainmenu" appDropdown >
      <div class="menuli"> <i class="fa fa-cog"></i> <a href="#" [routerLink]="['/email/settings']">Settings</a></div>
    </li>
    <li class="mainmenu" appDropdown >
      <div class="menuli"> <i class="fa fa-info-circle"></i> <a href="#" [routerLink]="['/email/additionalinfo']">Additional Info</a></div>
    </li>
  </ul>


   
 
</div>