<app-public-header (change)="onMenuClick($event)"></app-public-header>
<app-public-sidebar [User]="User" [class.showMenu]="showMenu"></app-public-sidebar>
<div class="maindiv" [class.toogledata]="mainData">
  <router-outlet></router-outlet>
</div>

<!-- Changes -->

<!-- Changes 13-04-2018-->

<!-- <router-outlet></router-outlet> -->

