 
  :host ::ng-deep .sidebar{
    position: fixed;
   -webkit-transition: width 12s; /* Safari */
   transition: width 1s;
     }
     :host ::ng-deep .showMenu .sidebar {
      width:50px;   z-index: 99;
     }
     :host ::ng-deep .maindiv   {   
       -webkit-transition: margin-left 12s; /* Safari */
       transition: margin-left 1s;
      }
      :host ::ng-deep  .maindiv.toogledata { margin-left: 50px;} 
      :host ::ng-deep .showMenu .sidebar ul ul{ display: none; font-weight: normal;}     
      :host ::ng-deep .showMenu .sidebar li {  text-align: center; position: relative;}
      :host ::ng-deep .showMenu .sidebar li ul li{ text-align:left;}
      :host ::ng-deep .showMenu .sidebar ul > li > .menuli > a{ display: none;} 
      :host ::ng-deep .showMenu .sidebar ul > li > .subMenu .menuli > a{ display: block;} 
      :host ::ng-deep .showMenu .sidebar ul li.mainmenu ul {width:150px; background:#1979ab; position: absolute; left: 50px;
       top: -10px;  }
      :host ::ng-deep .showMenu .sidebar ul li.mainmenu:hover  ul{ display: block;  } 
   
    