<div id="top_bar_opts" style="float: right;">
  <div>
    <span class="new_tab top_links" data-link="account">My Account</span>
    <span class="seperator">|</span>
    <span class="new_tab top_links" data-href="mailto:support@meetleonard.com">Support</span>
    <span class="seperator">|</span>
    <span class="new_tab top_links" data-href="http://tutorials.meetleonard.com">Tutorials</span>
    <!-- <span class="seperator">|</span> -->
  </div>
  <!-- <span class="seperator">|</span>
  <span id="top_version"></span> -->
</div>