<h1 mat-dialog-title>{{data.HeaderTitle}}</h1>
<div mat-dialog-content>
  <!-- <p>{{data.HeaderTitle}} list name</p> -->
  {{data.ListData.ListID}}
  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.ListData.listName">
  </mat-form-field>
  <mat-form-field>
    <!-- <input matInput placeholder="Desc" [(ngModel)]="data.ListData.listDesc"> -->
    <textarea rows="4" cols="75" matInput placeholder="Description" [(ngModel)]="data.ListData.listDesc"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="data.SaveClick='NO';onNoClick()">No Thanks</button>
  <button mat-button (click)="data.SaveClick='YES';YesClick($event,data.ListData)" [mat-dialog-close]="MyListID" cdkFocusInitial>Ok</button>
  <!-- <button mat-button [mat-dialog-close]="data.ListData.listName" cdkFocusInitial>Ok</button> -->
</div>
