.highlight{
  background: #42A948; /* green */
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 80%;
    min-width: 300px;
    width:100%;
    height:80%;
  }
  
  .mat-table {
    overflow: auto;
    /* max-height: 800px; */
  }
  
  .mat-column-select {
    overflow: visible;
  }  
  .mat-checkbox-background {
    background-color:blue !important;
}
.serachdiv-icon{  position: relative; margin-right: 10px;}
.serachdiv-icon .fa{ position:absolute; top:10px; right: 10px;}
.serachdiv-icon  .form-control{ padding-right: 25px;} 
 .btn-primary { margin-right:10px; } 
.dropdown-menu{ position: absolute; background:#fff; width:220px; border: 1px solid #adadad; padding:10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.dropdown-menu li { list-style: none; line-height: 28px; cursor: pointer;}
.showdropdown{ display: block;}
/* .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: blue;
} */

.mat-header-cell {
  font-size: 14px !important;
  font-weight: bold !important;
  font-weight: 500;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.overflow {
  width: 10em;
outline: 0px solid #000;
margin: 0 0 2em 0;

/**
 * Required properties to achieve text-overflow
 */
  white-space: nowrap;
  overflow: hidden;
}

.hand{
cursor: pointer;
}

.btn
{
font-size: 12px !important;
}

.mat-column-select {
  overflow: initial;
}

.ActionButton
{
  width: 2px !important;
  min-width: 22px !important;
  /* padding-right: 2px !important; */
  text-align: center !important;
  padding-left: 2px;
}
 