<div class="header-tittle">Email List</div>
<div class="container-fluid">
  <div class="row">
    <div #divTable class="col-sm-8 padding-null" (window:resize)="onResize($event)">
      <div style="margin-bottom:20px; text-align:left;padding-left:6px;">

        <div class="list-action serachdiv-icon" style="display:inline-block">
          <!-- <i class="fa fa-search"></i>
          <input matInput type="text" class="form-control" (keyup)="applyFilter($event.target.value)"> -->
          <mat-form-field>
              <input matInput placeholder="Search" type="text" (keyup)="applyFilter($event.target.value)">
              
              <mat-icon matSuffix><i class="fa fa-search"></i></mat-icon>
            </mat-form-field>
          <!-- Search Field Name menu starts here -->
          <!-- <button mat-button [mat-menu-trigger-for]="SearchField" class="btn btn-primary dropdown-toggle">
            <i class="fa fa-list" aria-hidden="true"></i>
          </button>
          <mat-menu xPosition="after" #SearchField="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="SearchBy($event,'firstname')">First Name</button>
            <button mat-menu-item (click)="SearchBy($event,'lastname')">Last Name</button>
            <button mat-menu-item (click)="SearchBy($event,'title')">Title</button>
            <button mat-menu-item (click)="SearchBy($event,'email')">Email</button>
            <button mat-menu-item (click)="SearchBy($event,'phone')">Phone</button>
            <button mat-menu-item (click)="SearchBy($event,'mobile')">Mobile</button>
          </mat-menu> -->
          <!-- Search Field Name menu ends here -->
        </div>
        <!-- <mat-form-field>
          <mat-select placeholder="List" [(value)]="DefaultSelectedList">
            <mat-option *ngFor="let food of foods" [value]="food.value">
              {{ food.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field>
          <mat-select placeholder="MyList"  (change)="onListChange($event)" [formControl]="listsControl">
            <!-- <mat-option>--</mat-option> -->
            <!-- <mat-option>None</mat-option> -->
            <!-- <mat-option [value]="'CreateList'"><i class="material-icons">face</i> Create List</mat-option> -->
            <mat-option *ngFor="let list of Listss" [value]="list.ListId">
              {{list.ListName}}
            </mat-option>
          </mat-select>
          <!-- <mat-error *ngIf="listsControl.hasError('required')">Please choose an list</mat-error> -->
          <!-- <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
        </mat-form-field>

        <button mat-button [mat-menu-trigger-for]="ListMenu" class="ActionButton">
          <i class="material-icons">more_vert</i>
        </button>
        <mat-menu xPosition="after" #ListMenu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="CreateList(1)">
            <i class="material-icons">exposure_plus_1</i>Create list</button>
          <button mat-menu-item (click)="CreateList(2)">
            <i class="material-icons">edit</i>Edit list</button>
            
        </mat-menu>
        

        <span style="position: relative; display:inline-block;">
          <button (click)="openImportToList($event)" class="btn btn-primary">
            <i class="fa fa-download "></i> Import CSV
          </button>

          <div #ImportFile [hidden]="!FileImportUpload" style="min-width:400px;min-height:400px;position: absolute;border:1px solid blue;background-color:white;">
            <div class="list-upload">
              <table>
                <tr>
                  <td>
                    <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary" (change)="fileChangeListener($event)"
                      accept=".csv" value={{selectedImageFile}}/>
                  </td>
                  <td style="padding: 5px;">
                    <input type="button" name="Reset" id="txtFileReset" class="btn btn-primary" (click)="fileReset()" value="Reset" />
                  </td>
                </tr>
                <tr colspan="2">
                  <td>
                    <button (click)="ImportFileCancel($event)" class="btn btn-default">
                      Cancel
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </span>

        <!-- <span style="position: relative; display:inline-block;">
          <button (click)="showDropDown()" class="btn btn-primary btn-list-header dropdown-toggle">
            <i class="fa fa-upload"></i> Export
          </button>
        
          <ul class="dropdown-menu showdropdown" *ngIf="showdropdown">
            <li>
              <a (click)="ExportAsCSV($event)">Export as CSV</a>
            </li>
            <li>
              <a (click)="ExportAsExcel($event)">Export as Excel</a>
            </li>
          </ul>
        
        </span> -->

        <!-- Export menu starts here -->
        <button mat-button [mat-menu-trigger-for]="Export" class="btn btn-primary dropdown-toggle">
          <i class="fa fa-upload"></i> Export
        </button>
        <mat-menu xPosition="after" #Export="matMenu" [overlapTrigger]="false">
            <li class="dropdown-checkbox">
                <input type="checkbox" [(ngModel)]="OnlyWithEmails" value="unchecked">
                <label>Only leads with email</label>
              </li>          
          <button mat-menu-item (click)="ExportAsCSV($event)">
            <i class="fa fa-list" aria-hidden="true"></i>
            Export as CSV</button>
          <button mat-menu-item (click)="ExportAsExcel($event)">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            Export as Excel</button>
        </mat-menu>
        <!-- Export menu ends here -->

        <!-- <button ng-click="cleanList()" ng-show="leads.length > 0" class="btn btn-primary btn-list-header">
          <i class="fa fa-sync-alt"></i> Clean
        </button> -->

        <button  (click)="openDeleteList($event)" class="btn btn-danger btn-list-header"> 
          <i class="fa fa-trash" aria-hidden="true"></i>
          Delete
        </button>
        <!-- Actions menu starts here -->
        <button mat-button [mat-menu-trigger-for]="actions" class="btn btn-primary dropdown-toggle">
            <i class="fa fa-tasks" aria-hidden="true"></i> Actions
          </button>
          <mat-menu xPosition="after" #actions="matMenu" [overlapTrigger]="false">
          <button mat-menu-item (click)="MoveToList($event)"> <i class="fa fa-list" aria-hidden="true"></i>
             Move to list</button>
          <button mat-menu-item (click)="SendMessage($event)"><i class="fa fa-paper-plane" aria-hidden="true"></i>
             Send message</button>
          <button mat-menu-item (click)="SendInvitations($event)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>

             Send invitations</button>
          </mat-menu>
        <!-- Actions menu ends here -->

        <!-- <span style="position: relative; display:inline-block;">
            <button (click)="showActionsMenu($event)" class="btn btn-primary btn-list-header dropdown-toggle">
              <i class="fa fa-upload"></i> Actions
            </button>
  
            <ul class="dropdown-menu showdropdown" *ngIf="showdropdown">
              <li class="dropdown-checkbox">
                <input type="checkbox" [(ngModel)]="OnlyWithEmails">
                <label>Only leads with email</label>
              </li>
              <li>
                <a (click)="ExportAsCSV($event)">Move to list</a>
              </li>
              <li>
                <a (click)="ExportAsExcel($event)">Send Message</a>
              </li>
            </ul>
  
          </span> -->


      </div>
      <!-- <div class="list-upload">
        <table>
          <tr>
            <td>
              <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary" (change)="fileChangeListener($event)"
                accept=".csv" value={{selectedImageFile}}/>
            </td>
            <td style="padding: 5px;">
              <input type="button" name="Reset" id="txtFileReset" class="btn btn-primary" (click)="fileReset()" value="Reset" />
            </td>
          </tr>
        </table>
      </div> -->

      <!-- HTML Table -->
      <!-- <table class="table">
        <tr>
          <th>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <th>ID </th>
          <th>Photo </th>
          <th>First name </th>
          <th>Last Name </th>
          <th>Title </th>
          <th>Email </th>
          <th>Phone </th>
          <th>Mobile </th>
          <th> URL</th>
      
        </tr>
        <tr>
          <td> &nbsp;</td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      </table> -->
      <div class="example-container mat-elevation-z8" style="display:block;">
        <mat-table #EmailListTable [dataSource]="EmailDataSource" class="table-hovered" matSort>

          <ng-container matColumnDef="select">
            <mat-header-cell   class="flex-5" *matHeaderCellDef>
                <!-- <mat-checkbox class="mat-option" (click)="$event.stopPropagation()" 
                  (change)="selectAll(/* Check to see if you want to check/uncheck all, do that here */)"
                  [indeterminate]="itemsSelected.length && itemsNotSelected.length" [checked]="!itemsNotSelected.length">
                  Select All
                </mat-checkbox> -->

              <mat-checkbox class="flex-5"  
                            (change)="$event ? masterToggle() : null" 
                            [checked]="selection.hasValue() && isAllSelected()" 
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </mat-header-cell>

            <mat-cell  class="flex-5" *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" 
                            (change)="$event ? selection.toggle(row) : null" 
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="fees">
              <mat-header-cell fxFlex="20%" class="uppersace" matHeaderCellDef mat-sort-header> Fees </mat-header-cell>
              <mat-cell fxFlex="20%" matCellDef="let element" [innerHtml]="element.Fees" class="feesdes"></mat-cell>
            </ng-container> -->

          <ng-container matColumnDef="emaillistId">
            <mat-header-cell  fxFlex="5%" hidden="hidden" *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell  fxFlex="5%" hidden="hidden" *matCellDef="let element"> {{element.emaillistId}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="photourl">
            <mat-header-cell  fxFlex="2%" *matHeaderCellDef mat-sort-header> Photo </mat-header-cell>
            <mat-cell fxFlex="2%"  *matCellDef="let element">
              <img class="profileimg" src="{{element.photourl}}" alt="" onerror="this.onerror=null;this.src='./../assets/images/noimage.png';"
                style="width:50px;height:50px;">
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <mat-header-cell fxFlex="10%" class="uppercase" *matHeaderCellDef mat-sort-header> First name </mat-header-cell>
            <mat-cell  fxFlex="10%" *matCellDef="let element">
              <!-- {{element.firstname}}  -->
              <span >{{ element.firstname }}</span>
              <!-- <a [routerLink]="[element.emaillistId]">
                  <span class="badge">{{ element.firstname }}</span>
                </a> -->
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastname">
            <mat-header-cell  fxFlex="10%" *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
            <mat-cell  fxFlex="10%" *matCellDef="let element"> {{element.lastname}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="title">
            <mat-header-cell  fxFlex="10%" *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
            <mat-cell  fxFlex="10%" *matCellDef="let element" class="ellipsis"  matTooltip="{{element.title}}"> {{element.title}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="email">
            <mat-header-cell  fxFlex="21%" *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell   fxFlex="23%" *matCellDef="let element" class="ellipsis" matTooltip="{{element.email}}"> {{element.email}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="phone">
            <mat-header-cell  fxFlex="20%" *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
            <mat-cell  fxFlex="20%" *matCellDef="let element"> {{element.phone}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
            <mat-cell  fxFlex="20%" *matCellDef="let element"> {{element.mobile}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Url">
            <mat-header-cell fxFlex="20%" *matHeaderCellDef mat-sort-header> URL </mat-header-cell>
            <mat-cell fxFlex="20%" *matCellDef="let element">
              <a href="{{element.Url}}" target="_blank">Link</a>
            </mat-cell>
          </ng-container>




        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row layout="row" layout-wrap fxLayout.xs="column" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.emaillistid}"
          (click)="selectRow(row)" class="hand">
        </mat-row>

        <!-- <mat-row layout="row" layout-wrap fxLayout.xs="column" *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.emaillistid}"
          (click)="selectRow(row)" class="hand" [style.background]="highlightedRows.indexOf(row) != -1 ? 'lightblue' : ''">
        </mat-row> -->


        </mat-table>
        <mat-paginator #paginator [pageSize]="8" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
      </div>
    </div>

    <div id="divDetails" class="col-sm-4">
      <router-outlet></router-outlet>
      <app-email-details [EmailDetails]="emaildetail" (UpatedEmailDetails)="gotupdated($event)"></app-email-details>
    </div>
  </div>
</div>