<h1 mat-dialog-title>{{data.HeaderTitle}}</h1>
<div mat-dialog-content>
  <!-- <p>{{data.HeaderTitle}} list name</p> -->
  {{data.ListData.ListID}}
  <mat-form-field>
    <mat-select placeholder="MyList" [(value)]="SelectedList"  (change)="onMoveListChange($event)" [formControl]="MoveListsControl">
      <!-- <mat-option>--</mat-option> -->
      <!-- <mat-option>None</mat-option> -->
      <!-- <mat-option [value]="'CreateList'"><i class="material-icons">face</i> Create List</mat-option> -->
      <mat-option *ngFor="let list of MoveLists" [value]="list.ListId">
        {{list.ListName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="data.SaveClick='NO';onNoClick()">No Thanks</button>
  <button mat-button (click)="data.SaveClick='YES';YesClick($event,data.ListData)" [mat-dialog-close]="MyListID" cdkFocusInitial>Ok</button>
  <!-- <button mat-button [mat-dialog-close]="data.ListData.listName" cdkFocusInitial>Ok</button> -->
</div>
