.breadcrumb {
    background: #fff;   
    padding: 15px 10px;
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
    -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
} 
.body-data{background:#fff;}
.searchgrid  { position: relative;}
.searchgrid input{
display: block;
width: 100%;
box-sizing: border-box;
height: 35px;
padding: 10px 25px;
font-size: 15px;
border: 1px solid rgba(0,0,0,.15);
border-radius: .25rem;
 }
 .searchgrid  .fa-search{ position: absolute; left:10px; top:10px;}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.20);
}
.table thead tr th,.table  tr td {
    background-color: #283e4a;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    background: #fff;
    padding: 15px 10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.btn {
    border: none;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
    background-color: #ffffff;
    color: #67757c;
    border :1px solid  #b1b8bb;
    padding: 0 10px;
    font-size: 13px;
    line-height: 28px;
    border-radius: 2px;
}