<nav class="breadcrumb">     
    <span  >connections</span>
</nav>


 <div class="body-data">
    <div class="searchgrid form-group ">
       <input type="text" class="search-field form-control" placeholder="Search"><i class="fa fa-search"></i></div>

<table id="data-table" class="table table-bootgrid" cellpadding="0" cellspacing="0"  >
  <thead>
      <tr><th class="select-cell crm-checkbox">
        <div class="checkbox"><label><input name="select" type="checkbox" class="select-box" value="all" >
          <i class="input-helper"></i></label></div></th>
          <th data-column-id="name" class="text-left col-md-3"  ><a   class="column-header-anchor sortable"><span class="text">Name</span><span class="table-bootgrid__icon zmdi mdi "></span></a></th>
          <th data-column-id="occupation" class="text-left col-md-6"  ><a  class="column-header-anchor sortable"><span class="text">Occupation</span><span class="table-bootgrid__icon zmdi mdi "></span></a></th>
          <th data-column-id="tags" class="text-left col-md-2"  ><a   class="column-header-anchor sortable"><span class="text">Tags</span><span class="table-bootgrid__icon zmdi mdi "></span></a></th></tr>
  </thead>
  <tbody><tr ><td class="select-cell crm-checkbox"  >
    <div class="checkbox"><label><input name="select" type="checkbox" class="select-box" value="srikanth-arra-✔-9481a1b3"><i class="input-helper"></i></label></div></td>
    <td class="text-left"  ><a class="base-text" target="_blank">Srikanth Arra ✔</a></td>
    <td class="text-left" >HR Executive at Sparsh Communications Pvt. Ltd(I help people get jobs)</td>
    <td class="text-left" ><button class="btn leo-btn leo-btn-default edit-tag"   type="button" data-row-id="srikanth-arra-✔-9481a1b3"> <i class="mdi mdi-pencil"></i> ADD </button></td></tr>
    
    <tr data-row-id="prashanth-racha-8348b565"><td class="select-cell crm-checkbox" ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box" value="prashanth-racha-8348b565"><i class="input-helper"></i></label></div></td>
      <td class="text-left"  ><a class="base-text"  target="_blank">PRASHANTH RACHA</a></td>
      <td class="text-left" >System Administrator at Sparsh Communications Pvt. Ltd</td><td class="text-left"  ><button class="btn leo-btn leo-btn-default edit-tag" data-toggle="modal" href="#edit--tag" type="button" data-row-id="prashanth-racha-8348b565"> <i class="mdi mdi-pencil"></i> ADD </button></td></tr>
      
      <tr data-row-id="sai-reddy"><td class="select-cell crm-checkbox"  ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box" value="sai-reddy"><i class="input-helper"></i></label></div></td><td class="text-left"  ><a class="base-text"   target="_blank">Sai Kumar Reddy M.</a></td><td class="text-left"  >IT Business Development Executive at Sparsh Communications Pvt. Ltd</td><td class="text-left"  ><button class="btn leo-btn leo-btn-default edit-tag" data-toggle="modal" href="#edit--tag" type="button" data-row-id="sai-reddy"> <i class="mdi mdi-pencil"></i> ADD </button></td></tr>
      
      <tr data-row-id="sankar-devarasetty-0b165533"><td class="select-cell crm-checkbox"  ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box"  ><i class="input-helper"></i></label></div></td><td class="text-left"  ><a class="base-text"  target="_blank">Sankar Devarasetty</a></td><td class="text-left"  >Test Lead at Sparsh Communications Pvt. Ltd</td><td class="text-left"  ><button class="btn leo-btn leo-btn-default edit-tag"    type="button"  > <i class="mdi mdi-pencil"></i> ADD </button></td></tr><tr  ><td class="select-cell crm-checkbox"  ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box"  ><i class="input-helper"></i></label></div></td><td class="text-left"  ><a class="base-text"  target="_blank">Mantripragada Kiran Kumar</a></td><td class="text-left"  >C.T.O at Sparsh Communications Pvt. Ltd</td><td class="text-left"  ><button class="btn leo-btn leo-btn-default edit-tag"   type="button"  > <i class="mdi mdi-pencil"></i> ADD </button></td></tr><tr  ><td class="select-cell crm-checkbox" ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box"  ><i class="input-helper"></i></label></div></td><td class="text-left"  ><a class="base-text"   >anjali soma</a></td><td class="text-left"  >Senior Consultant at Magna Infotech - A Division of Quess Corp Limited</td><td class="text-left" ><button class="btn leo-btn leo-btn-default edit-tag"  type="button" data-row-id="anjali-soma-526a23ba"> <i class="mdi mdi-pencil"></i> ADD </button></td></tr>
      
      <tr data-row-id="akshay-dongre-95a35a1"><td class="select-cell crm-checkbox"  ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box"  ><i class="input-helper"></i></label></div></td><td class="text-left"  ><a class="base-text"   target="_blank">Akshay Dongre</a></td><td class="text-left"  >Marketing Manager at SODEXO SVC INDIA PVT. LTD</td><td class="text-left"  ><button class="btn leo-btn leo-btn-default edit-tag"  type="button"  > <i class="mdi mdi-pencil"></i> ADD </button></td></tr><tr data-row-id="srikanth-reddy-b420ab98"><td class="select-cell crm-checkbox"  ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box" ><i class="input-helper"></i></label></div></td><td class="text-left" ><a class="base-text"   target="_blank">srikanth reddy</a></td><td class="text-left"  >iOS Developer at Sparsh Communications Pvt. Ltd</td><td class="text-left"  ><button class="btn leo-btn leo-btn-default edit-tag" data-toggle="modal"   type="button"  > <i class="mdi mdi-pencil"></i> ADD </button></td></tr><tr  ><td class="select-cell crm-checkbox"  ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box"  ><i class="input-helper"></i></label></div></td><td class="text-left"  ><a class="base-text"   target="_blank">suguna mma</a></td><td class="text-left"  >Team Lead at Humint Global Technologies Pvt Ltd</td><td class="text-left" ><button class="btn leo-btn leo-btn-default edit-tag" data-toggle="modal" href="#edit--tag" type="button" data-row-id="suguna-mma-b8b16a2b"> <i class="mdi mdi-pencil"></i> ADD </button></td></tr><tr data-row-id="vivek-vishal-708ba263"><td class="select-cell crm-checkbox"  ><div class="checkbox"><label><input name="select" type="checkbox" class="select-box"  ><i class="input-helper"></i></label></div></td><td class="text-left"  ><a class="base-text"   target="_blank">Vivek Vishal</a></td><td class="text-left" >Associate Software Engineer</td><td class="text-left"  ><button class="btn leo-btn leo-btn-default edit-tag" data-toggle="modal"  type="button"  > <i class="mdi mdi-pencil"></i> ADD </button></td></tr>
    </tbody>
</table>

</div>